<a href="https://colab.research.google.com/github/rabiyulfahimhasim786/opencv-basics/blob/main/pdf_tables_toexcel%26csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
!pip install camelot-py[cv] tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: camelot-py[cv] in /usr/local/lib/python3.7/dist-packages (0.10.1)
Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.4.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Requirement already satisfied: PyPDF2>=1.26.0 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (2.0.0)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (0.8.9)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (3.0.4)
Requirement already satisfied: pdfminer.six>=20200726 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (20220524)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (3.0.10)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (7.1.2)
Requirement already satisfied: opencv-python>=3.4.2.17 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (4.1.2.30)
Requirement already satisfied: pdftopng>=0.2.3 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (0.2.3)
Requirement already satisfied: ghostscript>=0.7 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (0.7)
Requirement already satisfied: setuptools>=38.6.0 in /usr/local/lib/python3.7/dist-packages (from ghostscript>=0.7->camelot-py[cv]) (57.4.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.1.0)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]) (2.0.12)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]) (37.0.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[cv]) (2.21)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from PyPDF2>=1.26.0->camelot-py[cv]) (4.2.0)

In [27]:
!sudo apt install ghostscript

Reading package lists... Done
Building dependency tree
Reading state information... Done
ghostscript is already the newest version (9.26~dfsg+0-0ubuntu0.18.04.16).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 42 not upgraded.

In [ ]:
import camelot
 
# extract all the tables in the PDF file
abc = camelot.read_pdf("1.pdf")   #address of file location
 
# print the first table as Pandas DataFrame

/usr/local/lib/python3.7/dist-packages/camelot/parsers/lattice.py:413: UserWarning: page-1 is image-based, camelot only works on text-based pages.
  " text-based pages.".format(os.path.basename(self.rootname))

In [ ]:
abc

In [28]:
import camelot as cam
table = cam.read_pdf("2.pdf", pages = 'all', flavor = 'stream')

In [29]:
table

In [30]:
print(table[0])
table[0].df
#table[0].to_excel("3.xlsx", index=False)

<Table shape=(22, 3)>

,0,1,2
0,,,647-444-1234 \noR Nga)
1,| IN VO | C =,,CMe liay \nfo \nReel) \nSrTiO
2,,,Pe a oR) \nZIP CODE
3,Billed To,Invoice Number,Invoice Total
4,,000000,
5,\ Clow aes,,$4520.00
6,"City, State, Country",Date,
7,ZIP CODE,10/07/14,
8,Description,,Unit Cost \nQty / Hr Rate \nAmount
9,‘Your item Name,,$1000 \n1 \n1000
10,Item description goes here,,
11,‘Your item Name,,$1000 \n1 \n1000
12,Item description goes here,,
13,‘Your item Name,,$1000 \n1 \n1000
14,Item description goes here,,
15,Your item Name,,$1000 \n1 \n1000
16,Item description goes here,,
17,,,Subtotal \n$4000.00
18,,,Tax \n$520.00
19,,,Total \n$4520.00
20,Invoice Terms,,
21,Ex. Please pay your invoice by....,,$4520.00\nAmount Due (USD)

In [31]:
# export to HTML
table.export("1.html", f="html")
#https://www.geeksforgeeks.org/convert-html-table-into-csv-file-in-python/

In [32]:
# Importing the required modules
import os
import sys
import pandas as pd
from bs4 import BeautifulSoup

path = '1-page-1-table-1.html'

# empty list
data = []

# for getting the header from
# the HTML file
list_header = []
soup = BeautifulSoup(open(path),'html.parser')
header = soup.find_all("table")[0].find("tr")

for items in header:
	try:
		list_header.append(items.get_text())
	except:
		continue

# for getting the data
HTML_data = soup.find_all("table")[0].find_all("tr")[1:]

for element in HTML_data:
	sub_data = []
	for sub_element in element:
		try:
			sub_data.append(sub_element.get_text())#.strip('\n')
		except:
			continue
	data.append(sub_data)

# Storing the data into Pandas
# DataFrame
dataFrame = pd.DataFrame(data = data, columns = list_header)

# Converting Pandas DataFrame
# into CSV file
dataFrame.to_csv('k4.csv')

In [33]:
dataFrame

,,0,1,2
0,0,,,647-444-1234 \noR Nga)
1,1,| IN VO | C =,,CMe liay \nfo \nReel) \nSrTiO
2,2,,,Pe a oR) \nZIP CODE
3,3,Billed To,Invoice Number,Invoice Total
4,4,,000000,
5,5,\ Clow aes,,$4520.00
6,6,"City, State, Country",Date,
7,7,ZIP CODE,10/07/14,
8,8,Description,,Unit Cost \nQty / Hr Rate \nAmount
9,9,‘Your item Name,,$1000 \n1 \n1000
10,10,Item description goes here,,
11,11,‘Your item Name,,$1000 \n1 \n1000
12,12,Item description goes here,,
13,13,‘Your item Name,,$1000 \n1 \n1000
14,14,Item description goes here,,
15,15,Your item Name,,$1000 \n1 \n1000
16,16,Item description goes here,,
17,17,,,Subtotal \n$4000.00
18,18,,,Tax \n$520.00
19,19,,,Total \n$4520.00
20,20,Invoice Terms,,
21,21,Ex. Please pay your invoice by....,,$4520.00\nAmount Due (USD)

In [34]:
# Importing pandas
import pandas as pd
  
# The webpage URL whose table we want to extract
#url = "https://www.geeksforgeeks.org/extended-operators-in-relational-algebra/"
url = '1-page-1-table-1.html'
# Assign the table data to a Pandas dataframe
table = pd.read_html(url)[0]
  
# Store the dataframe in Excel file
table.to_excel("data.xlsx")
#https://www.geeksforgeeks.org/python-convert-an-html-table-into-excel/?ref=lbp

In [35]:
table

,Unnamed: 0,0,1,2
0,0,NaN,NaN,647-444-1234 \noR Nga)
1,1,| IN VO | C =,NaN,CMe liay \nfo \nReel) \nSrTiO
2,2,NaN,NaN,Pe a oR) \nZIP CODE
3,3,Billed To,Invoice Number,Invoice Total
4,4,NaN,000000,NaN
5,5,\ Clow aes,NaN,$4520.00
6,6,"City, State, Country",Date,NaN
7,7,ZIP CODE,10/07/14,NaN
8,8,Description,NaN,Unit Cost \nQty / Hr Rate \nAmount
9,9,âYour item Name,NaN,$1000 \n1 \n1000
10,10,Item description goes here,NaN,NaN
11,11,âYour item Name,NaN,$1000 \n1 \n1000
12,12,Item description goes here,NaN,NaN
13,13,âYour item Name,NaN,$1000 \n1 \n1000
14,14,Item description goes here,NaN,NaN
15,15,Your item Name,NaN,$1000 \n1 \n1000
16,16,Item description goes here,NaN,NaN
17,17,NaN,NaN,Subtotal \n$4000.00
18,18,NaN,NaN,Tax \n$520.00
19,19,NaN,NaN,Total \n$4520.00
20,20,Invoice Terms,NaN,NaN
21,21,Ex. Please pay your invoice by....,NaN,$4520.00\nAmount Due (USD)